extends layout

block content
  .col-lg-6.col-lg-offset-3
    .page-header
      h3 Sign In
    #messages
    if(errors)
      include ./signin-error.jade
    form(id='signin', action='/signin', method='post')
      .form-group
        label(for="username") Username
        input.form-control(id="username", type="text", name="username")
      .form-group
        label(for="firstName") First Name
        input.form-control(id="firstName", type="text", name="firstName")
      .form-group
        label(for="lastName") Last Name
        input.form-control(id="lastName", type="text", name="lastName")
      .form-group
        label(for="email") Email
        input.form-control(id="email", type="email", name="email")
      .form-group
        label(for="password") Password
        input.form-control(id="password", type="password", name="password")
      input.btn.btn-lg.btn-primary(type='submit', value="Sign In")
